  <div id="mainContent">
    <!-- --------------- S Payment Successful --------------- -->
    <h2 style="margin-left:13px; margin-bottom:20px;">Payment Successful </h2>
    <div style="width:984px; border:3px solid #CCC; margin-bottom:13px;">
    	<div style=" width:660px; margin:20px auto 30px 120px;">
        	<table border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="4" align="right" style="padding-right:16px;"><img src="/static/prototype/product_fashion/images/green_32px.gif" width="32" height="32" alt="payment successful" title="payment successful" /></td>
                <td><p style="font-size:18px; color:#666;">Thank you for your payment.</p></td>
              </tr>
              <tr>
                <td><p style="color:#999; line-height:22px; margin-top:10px;">
                	Your transaction has been completed and a receipt for your purchase has been emailed to you.<br />
Your product will be shipped to you within the next 5 days.<br />
If there is any problem please <a href="http://www.shopmadeinchina.com/static/help-whoselsale/leave_message.shtml" style="text-decoration:underline;">leave a message</a> on website.
                </p></td>
              </tr>
              <tr>
                <td style="padding-top:30px;">
                    <span style="margin-right:30px;"><input name="" type="submit" class="btn_successful" id="" onclick="$link.setPage('buyer,MyOrders.html')" value="Review My Order" /></span>
                    <span><input name="" type="submit" class="btn_successful" id="" onclick="$link.setPage('index.html')" value="Continue To Shopping" /></span>
                </td>
              </tr>
              <tr>
                <td>
                     <table width="260" style="margin-top:40px;">
                      <tr>
                      	<td width="155"><p>Share Your Purchase On : </p></td>
                        <td style="text-align:center;"><a href="javascript:void(0)"><img src="/static/prototype/product_fashion/images/ico02.jpg" alt="share on facebook" title="share on facebook" /></a></td>
                        <td style="text-align:center;"><a href="javascript:void(0)"><img src="/static/prototype/product_fashion/images/ico03.jpg" alt="share on twitter" title="share on twitter" /></a></td>
                        <td style="text-align:center;"><a href="javascript:void(0)"><img src="/static/prototype/product_fashion/images/ico04.jpg" alt="share on pinterest" title="share on pinterest" /></a></td>
                        <td style="text-align:center;"><a href="javascript:void(0)"><img src="/static/prototype/product_fashion/images/ico05.jpg" alt="share on google plus" title="share on google plus" /></a></td>
                       </tr>
                      </table>
              	</td>
              </tr>
            </table>
        </div>
    </div>    
    <!-- --------------- E Payment Successful --------------- -->
    <br class="clearfloat" />
    
    <img src="/static/prototype/product_fashion/images/adtest.jpg" />
    
    <div class="cirbox floatleft Featured_WH" style="margin-top:5px; width:990px;">
        <div style="height:28px; background:url(/static/prototype/product_fashion/images/cart_tit_bg.gif) repeat-x; border:solid 1px #d9d9da; padding-left:12px; margin-top:10px;">
              <h6 style="color:#990000; font-size:13px; line-height:28px;"><span>Hot Deals</span></h6>
        </div>                 	
        <div class="cc" style="border:solid 1px #CCC; float:left; width:982px; height:190px;">
        <div class="freeshipping">
          <ul style="margin-left:40px;">
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" class="moveimg" title="Eyeshadow Palette"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" title="Eyeshadow Palette" alt="Eyeshadow Palette" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" title="Eyeshadow Palette">Eyeshadow Palette</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" title="Mascara" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank">Mascara</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" border="0" title="Lip Gloss"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank">Lip Gloss</a></p>
              <p class="price">USD 147.55 ~ 170.25 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" border="0" title="Nail Polish"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank">Nail Polish</a></p>
              <p class="price">USD 42.00 ~ 59.02 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="cirbox floatleft Featured_WH" style="width:990px; margin-top:3px;">
        <div style="height:28px; background:url(/static/prototype/product_fashion/images/cart_tit_bg.gif) repeat-x; border:solid 1px #d9d9da; padding-left:12px; margin-top:10px;">
              <h6 style="color:#990000; font-size:13px; line-height:28px;"><span>New Arrivals</span></h6>
        </div>                 	
        <div class="cc" style="border:solid 1px #CCC; float:left; width:982px; height:190px;">
        <div class="freeshipping">
          <ul style="margin-left:40px;">
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" class="moveimg" title="Eyeshadow Palette"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" title="Eyeshadow Palette" alt="Eyeshadow Palette" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" title="Eyeshadow Palette">Eyeshadow Palette</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" title="Mascara" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank">Mascara</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" border="0" title="Lip Gloss"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank">Lip Gloss</a></p>
              <p class="price">USD 147.55 ~ 170.25 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" border="0" title="Nail Polish"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank">Nail Polish</a></p>
              <p class="price">USD 42.00 ~ 59.02 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="cirbox floatleft Featured_WH" style=" margin-top:5px; width:990px; margin-bottom:30px;">
        <div style="height:28px; background:url(/static/prototype/product_fashion/images/cart_tit_bg.gif) repeat-x; border:solid 1px #d9d9da; padding-left:12px; margin-top:10px;">
              <h6 style="color:#990000; font-size:13px; line-height:28px;"><span>Clearance</span></h6>
        </div>                 	
        <div class="cc" style="border:solid 1px #CCC; float:left; width:982px; height:190px;">
        <div class="freeshipping">
          <ul style="margin-left:40px;">
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" class="moveimg" title="Eyeshadow Palette"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" title="Eyeshadow Palette" alt="Eyeshadow Palette" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml" target="_blank" title="Eyeshadow Palette">Eyeshadow Palette</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" title="Mascara" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml" target="_blank">Mascara</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg" width="130" height="130" border="0" title="Lip Gloss"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&isList=0" target="_blank">Lip Gloss</a></p>
              <p class="price">USD 147.55 ~ 170.25 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg" width="130" height="130" border="0" title="Nail Polish"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml" target="_blank">Nail Polish</a></p>
              <p class="price">USD 42.00 ~ 59.02 / Lot
    </p>
            </li>
            <li>
              <div><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank" class="moveimg"><img src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg" width="130" height="130" title="Makeup Brushies" border="0"/></a></div>
              <p class="freename"><a href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml" target="_blank">Makeup Brushies</a></p>
              <p class="price"><span class="listprice_all">USD <span class="listprice_big">199</span><span class="listprice_small">.99</span></span>
    </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
  </div>
