<form id="departmentForm">
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="tbox marginB20">
    <tr >
      <td width="75" class="alignR"  ><span class="F00">*</span>部门名称： </td>
      <td >
          <input name="departmentName" type="text" />
	  </td>
    </tr>
    <tr >
      <td width="80" class="alignR" valign="top"><span class="F00">*</span>备注： </td>
      <td valign="top">
          <textarea name="memo" row="2"/>
	  </td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
      <input type="button" onclick="saveDepartment();" value="保存"/>
	  <input type="button" onclick="closeWindown();" value="取消"/>
	  </div></td>
    </tr>
</table>
</form>
<script>
function saveDepartment() {
	var url = "$link.setAction('user.Ajaxadddepartment')?" + Math.random();
	var param = form2JSON("departmentForm");
	jQuery.getJSON(url, param, function(data){
		if(data.status) {
			var opt = '<option selected value="'+data.dep.departmentId+'">'+data.dep.departmentName+'</option>';
			jQuery("select:#departmentId").append(opt);
			closeWindown();
		} else {
			alert("添加失败");
		}
	});
}
</script>