   <div class="modal-header">
        <h5 id="myModalLabel">备注信息</h5>
    </div>
    <div class="padding_15">
        <!--<p><label>内容：</label></p>
        <p class="text-ino">messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages messages</p>-->
      #if($buyerMemoList)
        <div class="panel">
            <div style="height:36px;" class="title">
                <h5 class="mar_left_15 lineh_36">历史备注信息</h5>
            </div>
            <div style="padding-bottom:0px;" class="content">
				
                <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom:0px; clear:both;" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="150px">时间</th>
                            <th>内容</th>
                            <th width="100px">备注人</th>
                        </tr>
                    </thead>
                    <tbody id="memoList">
				#foreach($memo in $buyerMemoList)
                  <tr>
                    <td>#if($!memo.createDate)$!StringUtil.getDateString($!memo.createDate,'yyyy-MM-dd HH:mm:ss')#end</td>
                    <td id="memo">$!memo.memo</td>
                    <td id="opertor">$!memo.operator
                    </td>
                  </tr>
				  #end
                  </tbody>
                </table>
				
			</div><!-- E panel content -->
        </div><!-- E panel -->
      #end
		<br class="clear">
        <textarea style="resize: none;" placeholder="Message" class="input-xxlarge left" rows="3" name="message" id="message"></textarea>
		<input type="button" class="btn btn-large left mar_left_10 mar_top_15 bold" value="提交" onclick="addMessage();">
        
    
        <br class="clear">
    </div>
	<script >
	function addMessage(){
	var mess = jQuery("#message").val();
	if(mess==""){
		jQuery("#message")[0].focus();;
		return;
	}
	jQuery.getJSON(
		"$link.setAction('buyer.AjaxAddBuyerMemoAction')",
		{buyerId:'${buyerId}', message:encodeURIComponent(mess)},
		function(data){
			if(data!=null){
				var tr = jQuery("#memoList").find("tr:first").clone();
				var d = new Date();
				var dateStr = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate() + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
				tr.find("td:first").html(dateStr);
				tr.find("#memo").html(mess);
				jQuery("#memoList").prepend(tr);
				alert("success");
				jQuery("#message").val("");
			}
		});
}

</script>