 #if($!favoriteList)
<div class="accordion-group">
 <div class="accordion-heading upload_tit">
      <a href="#collapseFour" data-parent="#accordion4" data-toggle="collapse" class="accordion-toggle font_s_14 bold">收藏夹：共$!{favoriteCount}件<span class="icon-chevron-down"></span></a>
  </div>
  <div class="accordion-body collapse" id="collapseFour">
      <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom:0px;" class="table table-striped table-hover border_bottom">
            <thead>
                <tr>
                    <th width="120px">SKU</th>
                    <th width="60px">产品图片</th>
                    <th>产品名称</th>
                    <th width="80px">单价（$）</th>
                    <th>产品分类</th>
                    <th>时间</th>
                </tr>
            </thead>
          <tbody>
			#foreach($prod in $favoriteList)
			<tr class="v_middle">
            <td><a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)">$!prod.product.sku</a></td>
            <td><a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)"><img style="width:50px; height:50px;" title="$StringUtil.substring($prod.product.productName,10)" alt="$StringUtil.substring($prod.product.productName,10)" class="img-polaroid" src="$RewriteUtil.getImageUrl($prod.firstImage.imageUrl, 'm')"></a></td>
            <td><a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)">$!prod.product.productName</a></td>
            <td>$!prod.priceVo.price</td>
            <td>$!prod.category.catNameCn</td>
            <td>#if($prod.product.createTime)$!StringUtil.getDateTimeString($!prod.product.createTime)#end</td>
          </tr>
		  #end
        </tbody></table>
#if($favoriteCount>5)
<div class="pagination pagination-right pagination-small">
        <a class="mar_right_20" target="_blank" href="$link.setPage('buyer,MyFavoriteList.html')?buyerId=$buyerId">查看更多</a>
    </div>
#end
  </div>
 </div>
	#end