  <div id="hp_terms_of_use" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h5 id="myModalLabel">香港邮政航空包裹使用须知</h5>
      </div>
      <div class="modal-body">
        <span class="help-block mar_bottom_20"><span class="red font_s_14">邮政包裹风险较高，若需使用必须挂号。</span></span>
        <h4 class="center_t mar_bottom_15">香港邮政航空包裹使用须知</h4>
        <pre class="padding_20 mar_bottom_20">
　　为更好地满足买卖双方对于低价值的产品，使用更低运费的邮政航空包裹发货的需求，全球速卖通平台提供香港邮政航空包裹的服务选项。向指定26个国家*发送货物，用户可选择使用Hongkong Post Air Mail（简称：香港挂号航空小包）以及Hongkong Post Air Parcel（简称：香港航空大包）服务。香港邮政航空包裹服务较差，容易造成买家体验不佳，使用的卖家必须符合特定的条件。

<h5>香港邮政航空包裹简介：</h5>
　　香港挂号航空小包：以10G为计量单位，挂号后也可以满足最基本且非常重要的货运追踪需求。因此价值较低，且重量较轻的产品，使用香港邮政航空小包性价比非常高。
　　香港航空大包： 以500G为计量单位，由于其运费相对于EMS稍低，同时均设有追踪号。因此部分卖家在处理时效性要求不高的订单时，会选择使用此运输方式发货。

<h5>使用条件：</h5>
　　鉴于香港邮政航空包裹存在较大的投递风险，使用小包的卖家必须保证买家的体验。

　　过去30天内小包“未收到货”纠纷≥2笔的卖家，其小包“未收到货”纠纷率必须≤15%，否则系统会自动关闭邮政包裹物流方式。使用条件符合后会自动解除关闭。

　　也提醒所有卖家避免选择邮政包裹为唯一物流方式，以免限用后订单流失。

<h5>风险提示：</h5>
　　请卖家朋友在选择使用香港挂号航空小包以及香港航空大包前，注意并了解以下风险点：
　　<b>1、货运周期较长</b>
　　香港邮政航空包裹由香港发往发达国家的正常运输时间为7-14天，个别包裹的运输时间可能更长。除了正常运输时间外，卖家还需另外考虑中间转运时间，通过中国内地货代交货后，货物一般都会经由深圳转运至香港，然后再发往货物运送目的国。
　　<b>2、丢包率较高</b>
　　由于各个国家和地区的邮政局对于航空包裹的服务水准差异较大，同时由于货运周期较长，因此容易产生丢包情况。
　　<b>3、货运追踪信息不全</b>
　　使用香港邮政航空包裹发货后，会出现邮政局网上无法查询全程货运轨迹的情况，会影响到追踪货物轨迹的及时性以及准确性。

<h5>订单使用提示：</h5>
　　<b>鉴于香港邮政航空包裹的风险性，请卖家注意以下几点：</b>
　　1、使用航空小包产品邮寄时，一定要挂号，同时在发货期内在全球速贸通平台上填写提交发货通知，否则订单款项将会自动退回给买家。
　　2、价值或时效性要求较高的货品，应尽量选择其他运输方式。
　　3、 卖家在发货时尽量选择资质较好的货代，使用实力较差的货代会增加丢包和误期的风险。
　　4、 发货后，要及时跟进货物的运输情况。 如出现网上货运追踪信息不全的情况，例如：只有发货记录，没有妥投记录，要及时联系买家确认收货情况。
　　5、如在预计最长货运周期15天后，如买家没有收到货物，卖家要立即联系邮局或货代，进行相应的查询，如网上记录显示货物已到买家所在国家，也可以让买家直接联系当地邮局进行查询。

*备注：
　　26个指定国家包括：美国、英国、澳大利亚、巴西、加拿大、意大利、土耳其、西班牙、马来西亚、法国、俄罗斯、瑞典、新西兰、挪威、瑞士、日本、泰国、爱尔兰、以色列、比利时、波兰、韩国、奥地利、德国、丹麦、新加坡。 
        </pre>
      </div>
      <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
      </div>
  </div><!-- E hp_terms_of_use -->  
<script>
jQuery('#hp_terms_of_use').modal({
	show:true
})
</script>