<HTML>
<HEAD>
<META HTTP-EQUIV="Expires" CONTENT="0">
<title>JPEG Samples (Using BarcodeServlet)</title>
</HEAD>
<BODY>
<h1>JPEG Samples (Using BarcodeServlet)</h1>
You must have installed Barcode/Java before you can view this page. 
You may also need to change the path /examples/servlet in the BarcodeServlet URL reference
so that it matches your configuration.
Also this page must be served by a web server, i.e., you cannot open it directly (i.e. File|Open) from a web 
browser bypassing the web server (unless you change the img src 
attribute to point to a URL http://manager/BarcodeServlet in the HTML source
of this page). 
<P>
<img src="/manager/BarcodeServlet?image=3&type=6&data=123458">
<img src="/manager/BarcodeServlet?image=3&type=9&data=1234567&barwidth=2">
<img src="/manager/BarcodeServlet?image=3&type=3&data=12345678901&rotate=3">
<img src="/manager/BarcodeServlet?image=3&type=22&data=95020-342740&height=25">
<p>
Here's the HTML content for the above images:
<p>
&lt;img src="/manager/BarcodeServlet?image=3&type=6&data=123458"&gt;
<br>&lt;img src="/manager/BarcodeServlet?image=3&type=9&data=1234567&barwidth=2"&gt;
<br>&lt;img src="/manager/BarcodeServlet?image=3&type=3&data=12345678901&rotate=3"&gt;
<br>&lt;img src="/manager/BarcodeServlet?image=3&type=22&data=95020-342740&height=25"&gt;
<p>
Similarly, more examples are produced below:
<p>
<img src="/manager/BarcodeServlet?image=3&type=6&data=57154">
<img src="/manager/BarcodeServlet?image=3&type=4&data=57154">
<img src="/manager/BarcodeServlet?image=3&type=8&data=371982465728">
<img src="/manager/BarcodeServlet?image=3&type=7&data=123458">
<img src="/manager/BarcodeServlet?image=3&type=21&data=CODE+93">
<img src="/manager/BarcodeServlet?image=3&type=5&data=A12345678B">
<img src="/manager/BarcodeServlet?image=3&type=22&data=95020342740&height=25">
<img src="/manager/BarcodeServlet?image=3&type=2&data=98765430&height=45">
<img src="/manager/BarcodeServlet?image=3&type=12&data=98765430&addondata=21&height=45">
<img src="/manager/BarcodeServlet?image=3&type=13&data=98765430&addondata=12345&height=45">
<img src="/manager/BarcodeServlet?image=3&type=1&data=9781556153952&height=45">
<img src="/manager/BarcodeServlet?image=3&type=10&data=4501645096787&addondata=12&height=45">
<img src="/manager/BarcodeServlet?image=3&type=11&data=9781556153952&addondata=90000&height=45">
<img src="/manager/BarcodeServlet?image=3&type=3&data=074470793823&height=45">
<img src="/manager/BarcodeServlet?image=3&type=14&data=074470793823&addondata=01&height=45">
<img src="/manager/BarcodeServlet?image=3&type=15&data=031267648254&addondata=94687&height=45">
<img src="/manager/BarcodeServlet?image=3&type=9&data=03784929&height=45">
<img src="/manager/BarcodeServlet?image=3&type=16&data=03784929&addondata=14&height=45">
<img src="/manager/BarcodeServlet?image=3&type=17&data=03648254&addondata=79462&height=45">
<img src="/manager/BarcodeServlet?image=3&type=23&data=1Z0413W4%E31302528989">
<img src="/manager/BarcodeServlet?image=3&type=24&data=1Z0413W4%E31302528989">
<img src="/manager/BarcodeServlet?image=3&type=25&data=128902%E4X341">
<img src="/manager/BarcodeServlet?image=3&type=18&data=EAN-128+A">
<img src="/manager/BarcodeServlet?image=3&type=19&data=ean-128+b">
<img src="/manager/BarcodeServlet?image=3&type=20&data=128902">
</BODY>
</HTML>