<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/web/css/common.css"/>
<link rel="stylesheet" type="text/css" href="/web/css/job.css"/>
<link rel="stylesheet" href="/web/js/tips/tips.css" type="text/css" media="all" />
<script language="javascript" src="/web/js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/web/js/tips/tips.js"></script>
<script language="javascript" src="$content.getURI('js/jsonconvert.js')"></script> 
  <title>$page.title </title>
</head>
<body>
##$navigation.setTemplate('head.html')
<div id="main" style="text-align:center">
$screen_placeholder
</div>
##$navigation.setTemplate('bottom.html')
</body>
</html>
