$page.setTitle("Change Password")
<form action="$link.setPage('buyer,ChangePassword.html')" id="frm" name="frm" onsubmit="return checkPassword();">
<table cellspacing="0" cellpadding="0" class="acc_addr_tab">
    <tbody>
        <tr class="acc_addr_tab_tit">
            <td align="left" style="padding-left:10px;" colspan="5">
                <h2 class="cart_tit_h2">Change Password</h2>
				<input type="hidden" name="actionFlag" id="actionFlag" value="changePassword"/>
            </td>
        </tr>
        <tr>
            <td style="border:1px solid #d6d6d6;">
                <div class="acc_cpwd_content">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tbody>
                            <tr id="state">
                                <th>
                                    <span class="required">*</span>
                                    <label>Existing password:</label>
                                </th>
                                <td>
                                    <input type="password"  class="elmbBlur" name="originPass" id="originPass" style="ime-mode:disabled"/>	
										<p class="errorInfo" id="originErr"></p>
								</td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="required">*</span>
                                    <label>New password:</label>
                                </th>
                                <td>
                                    <input type="password" class="elmbBlur" id="newPass" name="newPass" style="ime-mode:disabled"/>
                                        <p class="errorInfo" id="newErr"></p>
                            </td>
                            </tr>
                            <tr>
                                <th>
                                    <span class="required">*</span>
                                    <label>Re-enter password:</label>
                                </th>
                                <td>
                                    <input type="password" class="phoneNum elmbBlur" id="confirmPass" name="confirmPass" style="ime-mode:disabled" />
										 <p class="errorInfo" id="confirmErr"></p>
                            </td>
                            </tr>
							 <tr>
                                <td>&nbsp;</td>
                                <td>
									<p class="errorInfo" id="msgErr"></p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="submit" value="Save" id="" class="btn_acc_cpwd"/></td>
                            </tr>
</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
</form>
#if($msg)
<script>
	jQuery("#msgErr").html('$msg');
</script>
#end
#if($message)
	<script >
		alert('$message');
    </script>
#end
<script>
function checkPassword(){
	var originPass = jQuery("#originPass").val();
	if(originPass==""){
		jQuery("#originErr").html("Existing password is Empty");
		jQuery("#originPass")[0].focus();
		return false;
	}
	var newPass = jQuery("#newPass").val();
	if(newPass==""){
		jQuery("#newErr").html("New password is Empty");
		jQuery("#newPass")[0].focus();
		return false;
	}
	var confirmPass = jQuery("#confirmPass").val();
	if(confirmPass=="" || confirmPass!=newPass){
		jQuery("#confirmErr").html("Re-enter password is Empty or Re-enter password with new password different");
		jQuery("#confirmPass")[0].focus();
		return false;
	}
	return true;
}
</script>
