<div class="tooltipChromeTopRight">
    <div class="tooltipChromeTopLeft">
        <div class="tooltipChromeTop">&nbsp;</div>
    </div>
</div>
<div class="tooltipChromeMiddleRight">
    <div class="tooltipChromeMiddleLeft">
        <div class="tooltipChromeMiddle">
            <div class="tooltipContentArea"></div>
        </div>
    </div>
</div>
<div class="tooltipChromeBottomRight">
    <div class="tooltipChromeBottomLeft">
        <div class="tooltipChromeBottom">&nbsp;</div>
    </div>
</div>
<div class="tooltipChromeArrow">&nbsp;</div>