<br class="clearfloat">
<div style=" margin-top:5px; width:990px; margin-bottom:30px;" class="cirbox floatleft Featured_WH">
    <div style="height:28px; background:url(/static/prototype/product_fashion/images/cart_tit_bg.gif) repeat-x; border:solid 1px #d9d9da; padding-left:12px; margin-top:10px;">
        <h6 style="color:#990000; font-size:13px; line-height:28px;">
            <span>Clearance</span>
        </h6>
    </div>
    <div style="border:solid 1px #CCC; float:left; width:982px; height:190px;" class="cc">
        <div class="freeshipping">
            <ul style="margin-left:40px;">
                <li>
                    <div>
                        <a title="Eyeshadow Palette" class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml">
                            <img border="0" width="130" height="130" alt="Eyeshadow Palette" title="Eyeshadow Palette" src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg">
    					</a>
    				</div>
                    <p class="freename">
                        <a title="Eyeshadow Palette" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Eye-Shadow_013005005.shtml">Eyeshadow Palette</a>
                    </p>
                    <p class="price">
                        <span class="listprice_all">USD <span class="listprice_big">199</span>
                            <span class="listprice_small">.99</span>
                        </span>
                    </p>
    			</li>
                <li>
                    <div>
                        <a class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml">
                            <img border="0" width="130" height="130" title="Mascara" src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg"></a>
                </div>
                <p class="freename">
                    <a target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Mascara_013005010.shtml">Mascara</a>
                </p>
                <p class="price">
                    <span class="listprice_all">USD <span class="listprice_big">199</span>
                        <span class="listprice_small">.99</span>
                    </span>
                </p>
                </li>
                <li>
                    <div>
                        <a class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml">
                            <img border="0" width="130" height="130" title="Makeup Brushies" src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg"></a>
               	   </div>
                    <p class="freename">
                        <a target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml">Makeup Brushies</a>
                    </p>
                    <p class="price">
                        <span class="listprice_all">USD <span class="listprice_big">199</span>
                            <span class="listprice_small">.99</span>
                        </span>
                    </p>
                </li>
                <li>
                    <div>
                        <a class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&amp;isList=0">
                            <img border="0" width="130" height="130" title="Lip Gloss" src="http://images.madeinchina.com/seller/product/BD5216C7C9615C3FE040007F010038B1/214/10639214_8.m.jpg"></a>
                </div>
                <p class="freename">
                    <a target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog-p2/Lip-Gloss_013005008.shtml&amp;isList=0">Lip Gloss</a>
                </p>
                <p class="price">USD 147.55 ~ 170.25 / Lot
                </p>
                </li>
                <li>
                    <div>
                        <a class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml">
                            <img border="0" width="130" height="130" title="Nail Polish" src="http://images.madeinchina.com/seller/product/BD3C03FEBC0F79CCE040007F0100638F/557/9799557_1.m.jpg"></a>
                </div>
                <p class="freename">
                    <a target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Nail-Art_013008002.shtml">Nail Polish</a>
                </p>
                <p class="price">USD 42.00 ~ 59.02 / Lot
                </p>
                </li>
                <li>
                    <div>
                        <a class="moveimg" target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml">
                            <img border="0" width="130" height="130" title="Makeup Brushies" src="http://images.madeinchina.com/seller/product/67FCF4D9E7B33F5AE040007F01005E93/696/9826696_6.m.jpg"></a>
                </div>
                <p class="freename">
                    <a target="_blank" href="http://www.shopmadeinchina.com/wholesale-catelog/Makeup-Brushes_013005009.shtml">Makeup Brushies</a>
                </p>
                <p class="price">
                    <span class="listprice_all">USD <span class="listprice_big">199</span>
                        <span class="listprice_small">.99</span>
                    </span>
                </p>
                </li>
            </ul>
    	</div>
    </div>
</div>