#set($page.title="库存管理")
  	<br class="clear" />
<form name="listForm" id="listForm" method="get" action="$link.setPage('stock,InventoryManage.html')">
  	<h4 class="mar_top_15 mar_bottom_20">库存管理</h4>
    <div class="search_form mar_bottom_10">
        <ul class="inline">
            <li><label class="left mar_top_5">SKU：</label><input type="text" class="input-medium left" placeholder="SKU" /></li>
            <li><a class="btn btn-primary left">查询</a><a id="block_more_search" class="btn btn-link left" onclick="javascript:document.getElementById('more_search').style.display='block';document.getElementById('block_more_search').style.display='none';document.getElementById('hide_more_search').style.display='block';">高级查询<span class="icon-chevron-down"></span></a><a id="hide_more_search" class="btn btn-link left hide" onclick="javascript:document.getElementById('more_search').style.display='none';document.getElementById('block_more_search').style.display='block';document.getElementById('hide_more_search').style.display='none';">收起<span class="icon-chevron-up"></span></a>
            </li>
            <li></li>
        	<li><button type="button" class="btn" data-toggle="modal" data-target="#scan_warehousing">扫描入库</button></li>
            <li><button type="button" class="btn btn-link">
<span class="icon-list"></span>
Excel导出
</button></li>
        </ul>
        <br class="clear" />
        <ul class="inline alert blue pad_left_5 pad_right_5 pad_top_15 hide" id="more_search">
            <li><label class="left mar_top_5">最近采购日期：</label><input type="text" value="01/01/2013" id="datepickera" class="input-small mar_right_10 left" /><label class="left mar_top_5">到</label><input type="text" value="01/01/2013" id="datepickerb" class="input-small mar_left_10 mar_right_5 left" /></li>
            <li><label class="left mar_top_5">库存状态：</label>
              <select id="" name="" class="left oi_status_max_w">
                <option value="1">全部</option>
                <option value="2">少量库存，可以补货</option>
                <option value="3">缺少库存，需补货</option>
                <option value="4">库存良好</option>
                <option value="5">陈旧库存，可清理</option>
              </select>
            </li>
            <li><label class="left mar_top_5">实际库存数：</label>
              <input type="text" class="input-mini left" placeholder="" />
              <label class="left mar_top_5 mar_left_5 mar_right_5">至</label>
              <input type="text" class="input-mini left" placeholder="" />
            </li>
            <li><label class="left mar_top_5">货架号：</label>
              <input type="text" class="input-small left" placeholder="货架号" />
            </li>
            <li><button class="btn btn-success left"><span class="white">应用</span></button></li><br class="clear" />
        </ul>
    </div>

	<table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-hover center_t font12 tl_mt3_mb3 mar_bottom_0">
  <tr class="info bold">
            <td><label>SKU</label></td>
    <td width="180px"><label>产品名称</label></td>
    <td><label>货架号</label></td>
    <td><label>历史库存总数</label></td>
    <td><label>最近采购日期</label></td>
    <td><label>最近采购数</label></td>
    <td><label>上月结转数</label></td>
    <td><label>实际库存</label></td>
    <td><label>缺货登记</label></td>
    <td><label>本月出库数</label></td>
    <td><label>库存商品总价（￥）</label></td>
    <td><label>库存状态</label></td>
    <td width="110px"><label>操作</label></td>
    </tr>
	##foreach()
      <tr>
        <td><label>TG738709</label></td>
        <td><label>If Edward struck gold in the Colorado Rockies</label></td>
        <td><label>TG123584789-96</label></td>
        <td><label>1258</label></td>
        <td><label class="font10"><span>2013-05-12</span></label></td>
        <td><label>56</label></td>
        <td><label>28</label></td>
        <td><label class="bold red">10</label></td>
        <td><label class="bold orange">0</label></td>
        <td><label>89</label></td>
        <td><label>1034.99</label></td>
        <td><label><span class="label label-important">少量</span></label></td>
        <td><a href="#replenishment" role="button" class="left" data-toggle="modal">补货</a><a href="#warehousing" role="button" class="left mar_left_10" data-toggle="modal">入库</a><a href="#remark" role="button" class="left mar_left_10" data-toggle="modal">备注</a></td>
      </tr>
      <tr>
        <td><label>TG738709</label></td>
        <td><label>If Edward struck gold in the Colorado Rockies</label></td>
        <td><label>TG123584789-96</label></td>
        <td><label>1258</label></td>
        <td><label class="font10"><span>2013-05-12</span></label></td>
        <td><label>56</label></td>
        <td><label>28</label></td>
        <td><label class="bold red">0</label></td>
        <td><label class="bold orange">4</label></td>
        <td><label>89</label></td>
        <td><label>1034.99</label></td>
        <td><label><span class="label label-warning">缺货</span></label></td>
        <td><a href="#replenishment" role="button" class="left" data-toggle="modal">补货</a><a href="#warehousing" role="button" class="left mar_left_10" data-toggle="modal">入库</a><a href="#remark" role="button" class="left mar_left_10" data-toggle="modal">备注</a></td>
      </tr>
      <tr>
        <td><label>TG738709</label></td>
        <td><label>If Edward struck gold in the Colorado Rockies</label></td>
        <td><label>TG123584789-96</label></td>
        <td><label>1258</label></td>
        <td><label class="font10"><span>2013-05-12</span></label></td>
        <td><label>56</label></td>
        <td><label>28</label></td>
        <td><label class="bold black">10</label></td>
        <td><label class="bold black">0</label></td>
        <td><label>89</label></td>
        <td><label>1034.99</label></td>
        <td><label><span class="label label-success">良好</span></label></td>
        <td><a href="#replenishment" role="button" class="left" data-toggle="modal">补货</a><a href="#warehousing" role="button" class="left mar_left_10" data-toggle="modal">入库</a><a href="#remark" role="button" class="left mar_left_10" data-toggle="modal">备注</a></td>
      </tr>
      <tr>
        <td><label>TG738709</label></td>
        <td><label>If Edward struck gold in the Colorado Rockies</label></td>
        <td><label>TG123584789-96</label></td>
        <td><label>1258</label></td>
        <td><label class="font10"><span>2013-05-12</span></label></td>
        <td><label>56</label></td>
        <td><label>28</label></td>
        <td><label class="bold black">10</label></td>
        <td><label class="bold black">0</label></td>
        <td><label>89</label></td>
        <td><label>1034.99</label></td>
        <td><label><span class="label label-inverse">积压</span></label></td>
        <td><a href="#replenishment" role="button" class="left" data-toggle="modal">补货</a><a href="#warehousing" role="button" class="left mar_left_10" data-toggle="modal">入库</a><a href="#remark" role="button" class="left mar_left_10" data-toggle="modal">备注</a></td>
      </tr>
      <tr class="gray">
        <td><label>TG738709</label></td>
        <td><label>If Edward struck gold in the Colorado Rockies</label></td>
        <td><label>TG123584789-96</label></td>
        <td><label>1258</label></td>
        <td><label class="font10"><span>2013-05-12</span></label></td>
        <td><label>56</label></td>
        <td><label>28</label></td>
        <td><label class="bold">10</label></td>
        <td><label class="bold">0</label></td>
        <td><label>89</label></td>
        <td><label>1034.99</label></td>
        <td><label><span class="label">断货</span></label></td>
        <td><a href="#replenishment" role="button" class="left" data-toggle="modal">补货</a><a href="#warehousing" role="button" class="left mar_left_10" data-toggle="modal">入库</a><a href="#remark" role="button" class="left mar_left_10" data-toggle="modal">备注</a></td>
      </tr>
    </table>
	##end
	#parse("/screens/Nap.html")
</form>
    
<div id="scan_warehousing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 990px; max-width: 990px; margin-left: -495px; ">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h5 id="myModalLabel">扫描入库</h5>
  </div>
  <div class="modal-body">
    <table border="0" cellspacing="0" cellpadding="0" class="table table-bordered table-striped table-hover center_t font12 tl_mt3_mb3 mar_bottom_0">
  <tr class="info bold">
    <td><label>序号</label></td>
    <td><label><span class="required left mar_top_5">*</span>凭证号</label></td>
    <td><label><span class="required left mar_top_5">*</span>SKU</label></td>
    <td><label>应采数量</label></td>
    <td width="110px"><label><span class="required left mar_top_5">*</span>入库数量</label></td>
    <td><label>采购情况</label></td>
    <td><label>操作</label></td>
    </tr>
      <tr>
        <td><label>1</label></td>
        <td><input placeholder="" width="80px" type="text" value="234235346547657"></td>
        <td><label>TG738709</label></td>
        <td><label>200</label></td>
        <td><input placeholder="" class="input-mini mar_top_5" type="text" value="200"></td>
        <td><label>未完成</label></td>
        <td><a href="#revocation" role="button" class="" data-toggle="modal">撤销</a></td>
      </tr>
      <tr>
        <td><label>2</label></td>
		<td><input placeholder=""  width="80px" type="text" value="234235346547657"></td>
        <td><label>TG738709</label></td>
        <td><label>200</label></td>
        <td><input placeholder="" class="input-mini mar_top_5" type="text" value="200"></td>
        <td><label>完成</label></td>
        <td><a href="#revocation" role="button" class="" data-toggle="modal">撤销</a></td>
      </tr>
      <tr>
        <td><label>3</label></td>
        <td><input placeholder="" width="80px" type="text" value="234235346547657"></td>
		<td><label>TG738709</label></td>
        <td><label>200</label></td>
        <td><input placeholder="" class="input-mini mar_top_5" type="text" value="200"></td>
        <td><label>超出</label></td>
        <td><a href="#revocation" role="button" class="" data-toggle="modal">撤销</a></td>
      </tr>
    </table>
        <div class="pagination pagination-right pagination-small">
    <span style="display:block; margin-bottom:5px;">总条数：<strong class="red mar_right_15">3</strong> 总页数：<strong class="red">1</strong></span>
        <ul>
            <li class="disabled"><a href="javascript:();">«</a></li>
            <li class="active"><a href="javascript:();">1</a></li>
            <li><a href="javascript:();">2</a></li>
            <li><a href="javascript:();">3</a></li>
            <li><a href="javascript:();">4</a></li>
            <li><a href="javascript:();">5</a></li>
            <li><a href="javascript:();">»</a></li>
        </ul>
    </div><!-- E page -->
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  <button class="btn btn-primary" data-dismiss="modal">确定入库</button>
  </div>
</div><!-- E scan_warehousing -->


<div id="replenishment" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 990px; max-width: 990px; margin-left: -495px; ">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h5 id="myModalLabel">新增采购任务</h5>
  </div>
  <div class="modal-body">
    <table cellspacing="0" cellpadding="0" border="0" class="mar_left_20">
    <tbody><tr>
    <td width="110px" class="v_top right_t"><label class="mar_right_10">SKU：</label></td>
    <td><label>TG738709</label></td>
    </tr>
    <tr>
    <td width="110px" class="v_top right_t"><label class="mar_right_10">产品名称：</label></td>
    <td><label>If Edward struck gold in the Colorado Rockies...</label></td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">采购数量：</label><span class="required mar_right_5 right mar_top_5">*</span></td>
    <td>
      <input type="text" placeholder="采购数量" class="input-small">
    </td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">采购渠道：</label></td>
    <td>
      <input type="text" placeholder="采购渠道" class="input-medium left">
    </td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">描述</label></td>
    <td>
      <textarea style="resize: none;" placeholder="" class="input-xxlarge left" rows="3"></textarea>
    </td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">附件：</label></td>
    <td>
    	<!--<a href="#view_attachments" role="button" class="btn btn-small btn-link left" data-toggle="modal">View</a>-->
        <input type="file" id="fileInput" class="input-file left">
        <button class="btn left mar_left_10">Upload</button><br class="clear"><!--<span class="help-block red">Here can only upload pictures, jpg/gif file within 200KB.</span>-->
        <ul class="inline">
        <li><img class="left wh_50px" src="/static/prototype/shopmic-manage/img/product_default.gif" /><span class="left mar_left_3 red font20 cursor_pointer">×</span></li>
        <li><img class="left wh_50px" src="/static/prototype/shopmic-manage/img/product_default.gif" /><span class="left mar_left_3 red font20 cursor_pointer">×</span></li>
        </ul><br class="clear">
    </td>
    </tr>
    </tbody></table>
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  <button class="btn btn-primary" data-dismiss="modal">确定</button>
  </div>
</div><!-- E replenishment -->

<div id="warehousing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 990px; max-width: 990px; margin-left: -495px; ">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h5 id="myModalLabel">入库</h5>
  </div>
  <div class="modal-body">
    <table cellspacing="0" cellpadding="0" border="0" class="mar_left_20">
    <tbody>
    <tr>
    <td width="130px" class="v_top"><label class="mar_right_10 right mar_top_5">凭证号：</label><span class="required mar_right_5 right mar_top_5">*</span></td>
    <td>
      <input type="text" placeholder="凭证号" class="input-medium left">
    </td>
    </tr>
    <tr>
    <td class="v_top right_t"><label class="mar_right_10">SKU：</label></td>
    <td><label>TG738709</label></td>
    </tr>
    <tr>
    <td class="v_top right_t"><label class="mar_right_10">入库时间：</label></td>
    <td><label>2013-05-12 20:05:12</label></td>
    </tr>
    <tr>
    <td class="v_top right_t"><label class="mar_right_10">应采购数量：</label></td>
    <td><label>200</label></td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">入库数量：</label><span class="required mar_right_5 right mar_top_5">*</span></td>
    <td>
      <input type="text" placeholder="入库数量" class="input-small">
    </td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">货架号：</label></td>
    <td>
      <input type="text" placeholder="货架号" class="input-medium left">
    </td>
    </tr>
    <tr>
    <td class="v_top"><label class="mar_right_10 right mar_top_5">采购完成情况：</label><span class="required mar_right_5 right mar_top_5">*</span></td>
    <td>
      <label class="radio left">
        <input checked="checked" value="部分采购" name="group" type="radio">
        部分采购
      </label>
      <label class="radio left mar_left_20">
        <input value="超额" name="group" type="radio">
        超额
      </label>
      <label class="radio left mar_left_20">
        <input value="采购完成" name="group" type="radio">
        采购完成
      </label>
    </td>
    </tr>
    </tbody></table>
  </div>
  <div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  <button class="btn btn-primary" data-dismiss="modal">确定</button>
  </div>
</div><!-- E warehousing -->

  <br class="clear" />
  <div id="footer"></div>

  <!--<div style="width:100%; height:30px; margin-top:50px; background:url(/static/prototype/shopmic-manage/img/footer.jpg) repeat-x;"></div>-->
  
  <div id="layer_box">
   <p class="layer_box_tit"><a href="javascript:();">新支付</a></p>
   <p class="layer_box_tit"><a href="javascript:();">新订单</a></p>
  </div>
<!-- S javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/jquery-ui-1.10.0.custom.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/datepicker.js"></script>
