##修改密码
$page.setTitle("修改密码")
<div style="width: 790px; max-width: 790px; margin-left: -395px; display: none;" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="edit_pwd">
        <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h5 id="myModalLabel">修改密码</h5>
        </div>
        <div class="modal-body">
        	<table cellspacing="0" cellpadding="0" border="0" class="mar_left_20">
              <tbody><tr>
                <td width="110px" class="v_top right_t"><label class="mar_right_10">买家名称：</label></td>
                <td><label class="text-info">$!userId</label></td>
              </tr>
              <tr>
                <td class="v_top right_t"><label class="mar_right_10">注册邮箱：</label></td>
                <td>
                    <label class="text-info">$!email</label>
                </td>
              </tr>
              <tr>
                <td class="v_top right_t"><label class="mar_right_10 mar_top_5">新修改：</label></td>
				<td>
                <label class="radio left mar_top_5"><input type="radio" checked="checked" name="group" value="1">密码</label>
                <input type="password" class="input-medium left mar_left_5" placeholder="" name="password" id="password">
                <label class="radio left mar_top_5 mar_left_25"><input type="radio" name="group" value="2">邮件</label>
                <br class="clear">
                <p class="help-block red"></p></td>
              </tr>
			  <tr class="hide" id="passwordTr">
                <td>&nbsp;</td><td><span class="help-block mar_top_f20"><span class="red">密码长度为6~20个字符</span></span></td>
              </tr>
            </tbody></table>
        </div>
        <div class="modal-footer">
        <input type="button" class="btn"  value="确定" onclick="javascript:changePassword();">
        </div>
    </div>
		
<script>
jQuery('#edit_pwd').modal({
	show:true
})

function changePassword(){
	var choose = jQuery("input[name='group']");
	if(choose[0].checked==true){
		var pass = jQuery("#password").val();
    	if(pass==""){
    		jQuery("#password")[0].focus();
    		return;
    	}
		if(pass.length<6 || pass.length>20){
			jQuery("tr[id='passwordTr']").show();
			jQuery("#password")[0].focus();
			return ;
		}
		jQuery("body").showLoading();
		jQuery.getJSON(
		"$link.setAction('buyer.AjaxChangePasswordAction')",
		{buyerId:'${buyerId}',password:encodeURIComponent(password),flag:1},
		function(data){
			jQuery("body").hideLoading();
			if(data!=null){
				alert("change password success");
			}else{
				alert("强制修改密码失败");
				jQuery("tr[id='passwordTr']").hide();
			}
		});
	}else{
		jQuery("body").showLoading();
		jQuery.getJSON(
		"$link.setAction('buyer.AjaxChangePasswordAction')",
		{buyerId:'${buyerId}',flag:2},
		function(data){
			jQuery("body").hideLoading();
			if(data!=null){
				alert("send email success");
			}else{
				alert("发 送邮件失败");
				jQuery("tr[id='passwordTr']").hide();
			}
		});
	}
	
	
}
</script>