<br class="clear">
    <form name="listForm" id="listForm" method="get" action="$link.setPage('buyer,MyFavoriteList.html')">
		<input type="hidden" id="buyerId" name="buyerId" value="$buyerId" />
        <h4 class="mar_top_15 mar_bottom_20">买家喜欢的产品</h4>
        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-striped table-hover center_t font12 tl_mt3_mb3">
            <thead>
                <tr>
                    <th width="120px">SKU</th>
                    <th width="60px">产品图片</th>
                    <th>产品名称</th>
                    <th width="80px">单价（$）</th>
                    <th>产品分类</th>
                    <th>时间</th>
                </tr>
            </thead>
            <tbody>
                #foreach($prod in $favoriteList)
                    <tr class="v_middle">
                        <td>
                            <a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)">$prod.product.sku</a>
                        </td>
                        <td>
                            <a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)">
                                <img style="width:50px; height:50px;" title="$StringUtil.substring($prod.product.productName,10)" alt="$StringUtil.substring($prod.product.productName,10)" class="img-polaroid" src="$RewriteUtil.getImageUrl($prod.firstImage.imageUrl, 'm')"></a>
</td>
<td>
    <a class="" target="_blank" href="$RewriteUtil.getProductUrl($prod.product.productName, $prod.product.productId)">$prod.product.productName</a>
</td>
<td>$!prod.priceVo.price</td>
<td>$!prod.category.catNameCn</td>
<td>#if($prod.product.createTime)$!StringUtil.getDateTimeString($!prod.product.createTime)#end</td>
</tr>
                #end
</tbody>
</table>
#parse("screens/Nap.html")
</form>
