	<div class="accordion-heading upload_tit">
      <a href="#collapseFive" data-parent="#accordion5" data-toggle="collapse" class="accordion-toggle font_s_14 bold">浏览过产品：共100件<span class="icon-chevron-down"></span></a>
  </div>
  <div class="accordion-body collapse" id="collapseFive">
      <table cellspacing="0" cellpadding="0" border="0" style="margin-bottom:0px;" class="table table-striped table-hover border_bottom">
            <thead>
                <tr>
                    <th width="120px">SKU</th>
                    <th width="60px">产品图片</th>
                    <th>产品名称</th>
                    <th width="80px">单价（$）</th>
                    <th>产品分类</th>
                    <th>时间</th>
                </tr>
            </thead>
          <tbody><tr class="v_middle">
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">2013032617</a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml"><img style="width:50px; height:50px;" title="" alt="" class="img-polaroid" src="/static/prototype/shopmic-manage/img/product_default.gif"></a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">This is a default product, product title, used to account for the location. You can ignore it.</a></td>
            <td>82.12</td>
            <td>产品分类产品分类产品分类产品分类产品分类产品分类</td>
            <td>2013-04-25 21:16:58</td>
          </tr>
          <tr class="v_middle">
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">2013032617</a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml"><img style="width:50px; height:50px;" title="" alt="" class="img-polaroid" src="/static/prototype/shopmic-manage/img/product_default.gif"></a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">This is a default product, product title, used to account for the location. You can ignore it.</a></td>
            <td>82.12</td>
            <td>产品分类产品分类产品分类产品分类产品分类产品分类</td>
            <td>2013-04-25 21:16:58</td>
          </tr>
          <tr class="v_middle">
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">2013032617</a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml"><img style="width:50px; height:50px;" title="" alt="" class="img-polaroid" src="/static/prototype/shopmic-manage/img/product_default.gif"></a></td>
            <td><a class="" target="_blank" href="/static/prototype/product_fashion/details.shtml">This is a default product, product title, used to account for the location. You can ignore it.</a></td>
            <td>82.12</td>
            <td>产品分类产品分类产品分类产品分类产品分类产品分类</td>
            <td>2013-04-25 21:16:58</td>
          </tr>
        </tbody></table>
 #parse("screens/Nap.html")
  </div>