
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>$page.title </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<!--MICCMS:Meta-Description-->" />
  <meta name="keywords" content="<!--MICCMS:Meta-Keywords-->" />
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/web/images/ys-logo-ico.ico" type="image/ico" /> 
  <link rel="stylesheet" type="text/css" href="/static/prototype/shopmic-manage/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/prototype/shopmic-manage/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/prototype/shopmic-manage/css/jquery-ui-1.10.0.custom.css" />
  <link rel="stylesheet" type="text/css" href="/static/prototype/shopmic-manage/css/whole.css" />
  <link rel="stylesheet" type="text/css" href="/static/prototype/shopmic-manage/css/shopmic_m.css" />
  <script charset="utf-8" src="/static/plugins/jscharts/jscharts.js"></script>	
  <script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/jquery-1.7.2.min.js"></script>
  <script language="javascript" type="text/javascript" src="/static/prototype/shopmic-manage/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="header">
		$navigation.setTemplate('Head.html')
    </div><!-- E header -->
  <div id="container">
 	 $screen_placeholder
  <br class="clear" />
  <div id="footer"></div>

  
  <div id="layer_box">
   <p class="layer_box_tit"><a href="javascript:();">新支付</a></p>
   <p class="layer_box_tit"><a href="javascript:();">新订单</a></p>
  </div>
<!-- S javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</body>
</html>
